extends layout

block content
  .inner 
    .card
      ul.welcome-menu
        a(href='/newPickUp')  
          li.link Begin New Pick Up
        a(href='/newDelivery')  
          li.link Beign New Delivery
        li.form
          form(method='post' action='/searchBol')
            //- label.label(for='vin') Find Existing BOL
            input(name='vin' type='text' placeholder='Search BOL by Last 8 of VIN')
            input.submit(name='submit' type='submit' value='Search')