.newBol {
  label {
    font-size: 1.25em;
  }
  .getPosBtn {
    width: 100%;
    margin: 8px auto;
    text-align: center;
    background-color: lighten($blue, 10%);
    color: $black;
    padding: 10px;
    border: none;
  }
  .gettingPos {
    color: $blue;
    font-size: 1.5em;
    margin: 8px auto;
    text-align: center;
  }
  .gotPos {
    color: $green;
    font-size: 1.5em;
    margin: 8px auto;
    text-align: center;
    // display: none;
  }
  .separator {
    text-align: center;
    margin: 0;
  }
  .submit {
    background-color: lighten($blue, 10%);
    color: $black;
  }
  .radio-label{
    min-width: 100px;
    margin: 0 20px;
  }
  .radio {
    max-width: 100px
  }
  .footnote {
    color: $red;
    float: right;
  }
  .withnote {
    float: left;
  }
  .error {
    display: none;
    color: $red;
    margin: 0;
    padding: 0;
  }
  .pulsate {
    animation: pulsate 3s ease-out;
    animation-iteration-count: infinite; 
    opacity: 0.5;
  }
  @keyframes pulsate {
      0% { 
          opacity: 0.3;
      }
      50% { 
          opacity: 1.0;
      }
      100% { 
          opacity: 0.3;
      }
  }
}