.photos {
  display: flex;
  flex-wrap:wrap;
  .details_photos-photo {
    max-height: 200px;
    width: auto;
  }
}

.upload {
  form{
    label{

    }
    input{

    }
    .submit {
      background-color: lighten($blue, 10%);
      color: $black;
      margin: 5px 0 0 0;
    }
    a {

    }
    .button {
      font-size: 1em;
      width: 100%;
      margin: 10px 0;
      text-align: center;
      background-color: lighten($blue, 10%);
      color: $black;
      padding: 10px;
      font-weight: normal;
    }
  }
}