.signature {
  canvas {
    border-top: 2px solid $blue;
    border-right: 4px solid $blue;
    border-bottom: 3px solid $blue;
    border-left: 2px solid $blue;
    width: 500;
    height: 175;
  }
  .customer-signature-name {
    font-size: 1.5em;
  }
  .customer-signature-pad-controls {
    button {
      background-color: lighten($blue, 10%);
      color: $black;
      margin: 5px;
      padding: 10px 20px;
      border: none;
      font-size: 1.2em;
    }
    .done {
      background-color: $purple;
      color: $blue;
      font-weight: bold;
    }
    .clear{
      background-color: $yellow;
      color: $blue;
    }
  }
  .driver-signature-name {
    font-size: 1.5em;    
  }
  .driver-signature-pad-controls {
    button {
      background-color: lighten($blue, 10%);
      color: $black;
      margin: 5px;
      padding: 10px 20px;
      border: none;
      font-size: 1.2em;
    }
    .done {
      background-color: $purple;
      color: $blue;
      font-weight: bold;
    }
    .clear{
      background-color: $yellow;
      color: $blue;
    }
  }
  .signature-pad-controls {
    button {
      background-color: lighten($blue, 10%);
      color: $black;
      margin: 5px;
      padding: 10px 20px;
      border: none;
      font-size: 1.2em;
    }
  }
  .signature-pad-error {
    color: $red;
    font-size: 1em;
  }
  .wait {
    color: $blue;
  }
}