.table {
  width: 100%;
  padding: 10px;
  background-color: white;
  td {
    padding: 5px;
  }
  tbody tr:nth-child(odd) {
    background: $grey;
  }
  tr:nth-child(even) {
    background: white;
  }
  thead tr {
    background: $black;
    color: white;
  }
  tbody tr{
    background-color: white;
  }
  // .clickable {
  //   cursor: pointer;
  // }
  .row-link {
    text-decoration: underline;
    text-decoration-color: $blue;
  }
  .ct {
    text-align: center;
  }
  
}


